page-ambulancias {

}

.separadorV{
    position:absolute;
    left:20%;
    top:2%;
    bottom:10%;
    border-left:1px solid black;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 100%;
    padding: 0;
}

.texto{
    top:5%;
    position: relative;;
    left:22%;
}

.separadorV2{
    position:absolute;
    left:85%;
    top:2%;
    bottom:10%;
    border-left:1px solid black;
}

.radio{
    position: relative;
    left:130%;
}

.boton{
    position: relative;
    top: 65%
}
